
:root {
    --ocean-01: #0d1b2a;
    --ocean-02: #1b263b;
    --ocean-03: #415a77;
    --ocean-04: #778da9;
    --ocean-05: #e0e1dd;
    --yellow-01: #ffee99;
    --font-title: Raleway;
    --font-body: Roboto;
}

:root {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-body);
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: var(--font-title);
    font-weight: 400;
}

#content {
    height: calc(100% - 140px);
    display: flex;
    flex-direction: row;
    background-color: var(--ocean-05);
}

header {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-color: var(--ocean-01);
}

.title, .title-icon {
    font-family: var(--font-title);
}

.title {
    color: white;
    padding-right: 20px;
    font-weight: 600;
}

.title-icon {
    color: var(--yellow-01)
}

nav {
    width: fit-content;
    height: 100%;
    background-color: var(--ocean-02);
    display: flex;
    align-items: stretch;
    --bs-nav-link-color: var(--ocean-05) !important;
    --bs-nav-link-hover-color: var(--ocean-04) !important;
}

.nav {
    --bs-nav-link-color: var(--ocean-05) !important;
    --bs-nav-link-hover-color: var(--ocean-04) !important;
}

.nav-pills {
    --bs-nav-pills-border-radius: 0.375rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: var(--ocean-04);
}

.nav-link.active {
    background-color: var(--ocean-03) !important;
    color: var(--ocean-05);
}

.nav-link:hover {
    background-color: var(--ocean-04) !important;
    color: var(--ocean-05);
}

.nav-link:selected {
    background-color: var(--ocean-04) !important;
    color: var(--ocean-05);
}

nav div ul li:hover, nav div div:hover {
    background-color: var(--ocean-04) !important;
    color: var(--ocean-01);
}

.nav-link, nav div div a { 
    color: var(--ocean-05);
}

#main-content {
    width: calc(100% - 4.5rem);
    height: calc(100% - 40px);
    margin: 20px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h1, .h1 {
    padding-bottom: 5px;
    font-size: 32px;
    margin: 20px;
    border-bottom: thick solid var(--ocean-04);
    font-weight: 600;
}


form {
    margin: 20px;
    display:flex !important;
    flex-direction: column;
    align-items: center;
}

textarea {
    width: 100%;
    border:0.5px solid var(--ocean-04);
    line-height:normal;
    border-style: inset;
    text-align: justify;
    color: black;
}

textarea:focus-visible {
    width: 100%;
    border:0.5px solid var(--ocean-03) !important;
    outline: 0px;
}

#submit {
    width: 250px !important;
    height: 30px;
    background-color: var(--ocean-01);
    color: white;
    margin-top: 20px;
}